<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{.User.LastName}} {{.User.FirstName}}</title>
</head>

<body>
    <h1>{{.User.LastName}} {{.User.FirstName}} {{.User.MiddleName}}</h1>
    <h2>Общая статистика</h2>
    <table>
        <tbody>
            <tr><th>Статус</th>                             <td>{{.User.Status}}</td></tr>
            <tr><th>Фамилия</th>                            <td>{{.User.LastName}}</td></tr>
            <tr><th>Имя</th>                                <td>{{.User.FirstName}}</td></tr>
            <tr><th>Отчество</th>                           <td>{{.User.MiddleName}}</td></tr>
            <tr><th>Дата рождения</th>                      <td>{{.User.BirthDate}}</td></tr>
            <tr><th>Должность</th>                          <td>{{.User.Position}}</td></tr>
            <tr><th>Дата приема на работу</th>              <td>{{.User.HiredAt}}</td></tr>
            <tr><th>Территориальный отдел</th>              <td>{{.User.Department}}</td></tr>
            <tr><th>Район/Отдел</th>                        <td>{{.User.District}}</td></tr>
            <tr><th>Продолжительность рабочего дня</th>     <td>{{.User.WorkdayDuration}}</td></tr>
            <tr><th>E-mail</th>                             <td>{{.User.Email}}</td></tr>
            <tr><th>Инвалид</th>                            <td>{{.User.IsInvalid}}</td></tr>
            <tr><th>Общий стаж выслуги</th>                 <td>{{.User.Experience}}</td></tr>
        </tbody>
    </table>

    <h2>Статистика</h2>
    <table>
        <thead>
            <tr>
                <th>Год</th>
                <th>Основной</th>
                <th>Ненормированный</th>
                <th>Выслуга лет</th>
            </tr>
        </thead>
        <tbody>
            <tr><th>Ежегодный отпуск</th>               <td>{{.Vacation.Base}}</td></tr>
            <tr><th>За выслугу лет</th>                 <td>{{.Vacation.Irregular}}</td></tr>
            <tr><th>Ненормированный рабочий день</th>   <td>{{.Vacation.Seniority}}</td></tr>
        </tbody>
    </table>

    <table>
        <tbody>
            <tr><th>Сотрудник</th>                                      <td>{{.User.Initials}}</td></tr>
            <tr><th>Рабочий год</th>                                    <td>{{.User.WorkYear}}</td></tr>
            <tr><th>Положено за год</th>                                <td>{{.User.Supposed}}</td></tr>
            <tr><th>Заработано на текущую дату ({{.User.Today}})</th>   <td>2.5 дня</td></tr>
            <tr><th>Использовано в этом году</th>                       <td>0 дней</td></tr>
            <tr><th>Остаток</th>                                        <td>2.5 дня</td></tr>
            <tr><th>Предупреждения</th>                                 <td>нет</td></tr>
        </tbody>
    </table>
    <p><a href="/users">К списку</a></p>
</body>

</html>