{{define "title"}}Список отпусков{{end}}

{{define "content"}}
<div class="container">
    <h1>Список отпусков сотрудника</h1>
    <table>
        <thead>
            <tr>
                <th>Индикатор</th>
                <th>Дата начала отпуска</th>
                <th>Дата конца отпуска</th>
                <th>Статус</th>
            </tr>
        </thead>
        <tbody>
            {{range .Vacations}}
            <tr>
                <td>{{.Color}}</td>
                <td>{{.StartDate}}</td>
                <td>{{.EndDate}}</td>
                <td>{{.Status}}</td>
            </tr>
            {{else}}
            <tr>
                <td colspan="4">Нет отпусков</td>
            </tr>
            {{end}}
        </tbody>
    </table>
</div>
{{end}}